.h2 {
  background-color: red;
}

.cardWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  padding: 5px;
  margin: 2px 10px;
  transition: all var(--animation-time);
  border: 2px solid var(--color-secondary);
  backdrop-filter: blur(var(--card-blur));
}

.card:hover {
  background-color: var(--color-secondary-l);
  color: var(--color-text-secondary);
  cursor: pointer;
  transition: all var(--animation-time);
}
