html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  --oxford-blue: #001b2eff;
  --charcoal: #294c60ff;
  --charcoal-l: rgb(72, 102, 120);
  --cadet-blue-crayola: #adb6c4ff;
  --papaya-whip: #ffefd3ff;
  --peach-crayola: #ffc49bff;

  --animation-time: 0.2s;

  --color-primary: var(--oxford-blue);
  --color-secondary: var(--charcoal);
  --color-secondary-l: var(--charcoal-l);
  --color-text-primary: var(--cadet-blue-crayola);
  --color-text-secondary: var(--oxford-blue);

  background-color: var(--color-primary);
  color: var(--color-text-primary);
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
